* {
    font-family: Georgia;
}

.baner {
    display: flex;
}

.banerLeft, .banerCenter {
    background-color: #3CB371;
    color: white;
    height: 100px;
    flex: 4;
}

.banerRight {
    height: 100px;
    flex: 2;
    background-color: #3CB371;
}

.footer {
    clear: both;
    background-color: #3CB371;
    color: white;
}

h6 {
    text-align: right;
}

form {
    padding: 30px;
}

.day {
    background-color: #FFDAB9;
    width: 170px;
    height: 90px;
    float: left;
    margin: 5px;
    border: 1px solid #3CB371;
}